<footer   class="mt-5">
    <div class="wave">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
        <div class="wave" id="wave3"></div>
        <div class="wave" id="wave4"></div>
        
    </div>
      <ul class="social_icon">
        <li><a href="#"><i class="bi bi-facebook"></i></a></li>
        <li><a href="#">  <i class="bi bi-whatsapp"></i> </a></li>
        <li><a href="#"> <i class="bi bi-linkedin"></i> </a> </li>
        <li><a href="#"><i class="bi bi-twitter"></i></a></li>
      </ul>
      <ul class="menu">
        <li><a href="#">Home</a></li>
        <li><a href="#"> About  </a></li>
        <li><a href="#"> Peoples</a> </li>
        <li><a href="#">Information </a></li>
      </ul>
       <!-- Copyright -->
      <p>
    © 2020 Copyright:
    <a class=""> Information Infrastructure made easy</a>
</p>
  <!-- Copyright -->

</footer>