<mat-toolbar class="sticky  shadow -sm bg-body rounded">
  <mat-toolbar-row fxLayoutAlign="space-between center">
    <div fxLayout.gt-lg="row">
      <img src="../../../../assets/img/cloud.jpeg" alt="RCV" class="shadow-sm bg-body rounded" (click)="navigate('home')">
    </div>
    
    <div class="topnav" color="primary"*ngIf="!deviceXs" fxLayout="row">
      <button class="btn btn-outline-secondary"  mat-button routerLink="home">Home</button>
      <button mat-button [matMenuTriggerFor]="afterMenu" class="badge btn btn-outline-secondary ">People</button>
      <mat-menu #afterMenu="matMenu" xPosition="after">
        <button mat-menu-item  (click)="navigate('People')"> User</button>
        <button mat-menu-item (click)="navigate('report')">Report</button>
      </mat-menu>
      <button class="br btn btn-outline-secondary" mat-button>Information Repositorys</button>
      <button class="btn btn-outline-secondary" mat-button>Device</button>
      <button class="btn btn-outline-secondary" mat-button [matMenuTriggerFor]="after">Applications & Services</button>
      <mat-menu #after="matMenu" xPosition="after">
        <button mat-menu-item (click)="navigate('failureinfra')">Failover Infra </button>
        <button mat-menu-item (click)="navigate('monitorimfra')">Monitor Infra</button>
        <button mat-menu-item (click)="navigate('failover')"> Failover</button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>


  <!-- <app-sidenav></app-sidenav> -->

  <!-- <div class="reddit-body">
    <div class="container">
      <div class="row">
        <hr />
        <div class="col-md-9" >
          
          
        </div>
        <div class="col-md-3">
        </div>
      </div>
    </div>
  </div>
      -->

     