   
.sticky {
  padding: 0px;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 10;
}

img {
  padding: 0px 5px;
height: 50px;
width: 100px;
}
/* body{
  background-image: url('../../../../img/pexels-hoang-le-1042423.jpg') ;
  background-size: cover;
  cursor: pointer;
} */
.profile {
  cursor: pointer;
  margin-top: 10px;
}
.align-top {
  vertical-align: top;
}
.align-bottom {
  vertical-align: text-top !important;
}
.home-icon{
  cursor: pointer;
  vertical-align: bottom;
}