   
.sticky {
  padding: 0px;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 10;
}

img {
  padding: 0px 5px;
height: 60px;
width: 180px;
border-color: black;
}

.profile {
  cursor: pointer;
  margin-top: 10px;
}
.align-top {
  vertical-align: top;
}
.align-bottom {
  vertical-align: text-top !important;
}
.home-icon{
  cursor: pointer;
  vertical-align: bottom;
}

.badge{
  /* background-color: rgb(145, 170, 170); */
}


