<mat-toolbar class="sticky">
  <!-- <span class=" nav-brand">RCV Innv.</span> -->
  <mat-toolbar-row fxLayoutAlign="space-between center">
    <div fxLayout.gt-lg="row">
      <!-- Hari Edited here -->
      <!-- <mat-icon class="home-icon">home</mat-icon> -->
      <img
        src="https://static.wixstatic.com/media/e1e56e_67277d4a9a144a8d8b56106ed26140f6~mv2.png/v1/fill/w_134,h_88,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/7a1ff5_da3af2cb31944d6bbbf50f5ffeb103d5_.png"
        alt="RCV">

      <!-- <img src="../assets/images/sima.jpg" class="align-top" height="30"> -->
      <!-- <span class="align-bottom"> RCV</span> -->
    </div>
    <div class="topnav" color="primary"*ngIf="!deviceXs" fxLayout="row">
      <button  mat-button routerLink="home">Home</button>
      <button mat-button [matMenuTriggerFor]="afterMenu" class="badge bg-primary  text-white text-wrap">People</button>
      <mat-menu #afterMenu="matMenu" xPosition="after">
        <button mat-menu-item  (click)="navigate('user')"> User</button>
        <button mat-menu-item (click)="navigate('report')">Report</button>
      </mat-menu>
      <button class="br" mat-button>Information Repositorys</button>
      <button mat-button>Device</button>
      <button mat-button [matMenuTriggerFor]="after">Applications & Services</button>
      <mat-menu #after="matMenu" xPosition="after">
        <button mat-menu-item (click)="navigate('failureinfra')">Failover Infra </button>
        <button mat-menu-item (click)="navigate('monitorimfra')">Monitor Infra</button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>


