<ng-scrollbar style="height:300px;" class="kk ms-3 text-center  shadow-lg  
bg-body rounded ">
    <div><h4>jdfhkhd</h4></div>
    <div><h4>jdfhkhd</h4></div>
    <div><h4>jdfhkhd</h4></div>
    <div><h4>jdfhkhd</h4></div>
    <div><h4>jdfhkhd</h4></div>
    <div><h4>jdfhkhd</h4></div>
    <div><h4>jdfhkhd</h4></div>
    <div><h4>jdfhkhd</h4></div>
    <div><h4>jdfhkhd</h4></div>
    <div><h4>jdfhkhd</h4></div>
    <div><h4>jdfhkhd</h4></div>
    <div><h4>jdfhkhd</h4></div>
    <div><h4>jdfhkhd</h4></div>
    <div><h4>jdfhkhd</h4></div>
    <div><h4>jdfhkhd</h4></div>
    <div><h4>jdfhkhd</h4></div>

    
    
  </ng-scrollbar>