<!-- <section>
    <div class="container">
        <form class="row g-3  mt-5" [formGroup]="empGroup" (ngSubmit)="onSubmit(empGroup)">
            <div class="col-md-6">
                <label for="empcode" class="form-label">Emp Code</label>
                <input type="email" class="form-control" formControlName="empcode">
            </div>
            <div class="col-md-6">
                <label class="form-label">Employee Name</label>
                <input type="text" class="form-control" formControlName="employeename">
            </div>
            <div class="col-md-6 ">
                <label class="form-label">Mobile Number</label>
                <input type="number" class="form-control" formControlName="mobileno">
            </div>
            <div class="col-md-6">
                <label for="inputState" class="form-label">Designation</label>
                <select id="inputState"  formControlName="designation" class="form-select">
                    <option  value="null" selected>Choose...</option>
                    <option value="TeamManager">TeamManager</option>
                    <option value="Project Manager">Project Manager</option>
                </select>
            </div>
            <div class="col-md-6 ">
                <label class="form-label">Email</label>
                <input type="email" class="form-control" formControlName="email">
            </div>
            <div class="col-md-6">
                <label for="inputState" class="form-label">Reporting To</label>
                <select formControlName="reportinto" class="form-select">
                    <option value="null" selected>Choose...</option>
                    <option value="Teamleader"> Teamleader</option>
                    <option value="Project Manager">Project Manager</option>
                </select>
                
            </div>
            
            <fieldset>
                <legend class="col-form-label ">Status</legend>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" value="True" 
                    formControlName="status">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Active
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" value="False" formControlName="status" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        In Active
                    </label>
                </div>
            </fieldset>
            <div class="col-12">
                <label for="inputAddress2" class="form-label">Reason</label>
                <input type="text" class="form-control" formControlName="reason">
            </div>

            <div class="col-1">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
            <div class="col-1">
                <button type="submit" class="btn btn-primary">Clear</button>
            </div>
            
        </form>
        
        
        <div class="container-fluid mt-4">
            <form class="d-flex">
                <div class="col-md-4 ">
                    <input class="form-control" type="search" placeholder="Emp Code">
                </div>
                <div class="col-md-4 d-flex ">
                    <input class="form-control col-md-6 me-2" type="search" placeholder="Employee Name">
                    <button class="btn btn-outline-success" type="submit">Search</button>

                </div>
            </form>
            
        </div>
        
    </div>
</section>
    <div class="container mt-3">
        <table class="table  table-hover table-striped">
            <thead>
                <tr>
                    <th scope="col">Sr No.</th>
                    <th scope="col">Emp Code</th>
                    <th scope="col">Employee Name</th>
                    <th scope="col">Mobile No.</th>
                    <th scope="col">Designation</th>
                    <th scope="col">Email</th>
                    <th scope="col">Reporting To</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let data of employeeData" >
                    <th scope="row">{{data.id}}</th>
                    <td>{{data.empcode}}</td>
                    <td>{{data.employeename}}</td>
                    <td>{{data.mobileno}}</td>
                    <td>{{data.designation}}</td>
                    <td>{{data.email}}</td>
                    <td>{{data.reportinto}}</td>
                    <td>{{data.status}}</td>
                    <td><i (click)="deleteData(data.id)" class="fs-4 bi bi-trash3 text-danger"></i></td>
                    <td><i class=" fs-4 bi bi-pencil-square text-primary"></i></td>
                </tr>
            </tbody>
        </table>
        
    </div> -->
<!-- 
  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-9" >
            <form class="row g-3  mt-5" [formGroup]="empGroup" (ngSubmit)="onSubmit(empGroup)">
                <div class="col-md-6">
                    <label for="empcode" class="form-label">Emp Code</label>
                    <input type="email" class="form-control" formControlName="empcode">
                </div>
                <div class="col-md-6">
                    <label class="form-label">Employee Name</label>
                    <input type="text" class="form-control" formControlName="employeename">
                </div>
                <div class="col-md-6 ">
                    <label class="form-label">Mobile Number</label>
                    <input type="number" class="form-control" formControlName="mobileno">
                </div>
                <div class="col-md-6">
                    <label for="inputState" class="form-label">Designation</label>
                    <select id="inputState"  formControlName="designation" class="form-select">
                        <option  value="null" selected>Choose...</option>
                        <option value="TeamManager">TeamManager</option>
                        <option value="Project Manager">Project Manager</option>
                    </select>
                </div>
                <div class="col-md-6 ">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control" formControlName="email">
                </div>
                <div class="col-md-6">
                    <label for="inputState" class="form-label">Reporting To</label>
                    <select formControlName="reportinto" class="form-select">
                        <option value="null" selected>Choose...</option>
                        <option value="Teamleader"> Teamleader</option>
                        <option value="Project Manager">Project Manager</option>
                    </select>
                    
                </div>
                
                <fieldset>
                    <legend class="col-form-label ">Status</legend>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="True" 
                        formControlName="status">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Active
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="False" formControlName="status" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                            In Active
                        </label>
                    </div>
                </fieldset>
                <div class="col-12">
                    <label for="inputAddress2" class="form-label">Reason</label>
                    <input type="text" class="form-control" formControlName="reason">
                </div>
    
                <div class="col-1">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
                <div class="col-1">
                    <button type="submit" class="btn btn-primary">Clear</button>
                </div>
                
            </form>
             <div class="container-fluid mt-4">
            <form class="d-flex">
                <div class="col-md-4 ">
                    <input class="form-control" type="search" placeholder="Emp Code">
                </div>
                <div class="col-md-4 d-flex ">
                    <input class="form-control col-md-6 me-2" type="search" placeholder="Employee Name">
                    <button class="btn btn-outline-success" type="submit">Search</button>

                </div>
            </form>
            
        </div>
        
        <table class="table  table-hover table-striped">
            <thead>
                <tr>
                    <th scope="col">Sr No.</th>
                    <th scope="col">Emp Code</th>
                    <th scope="col">Employee Name</th>
                    <th scope="col">Mobile No.</th>
                    <th scope="col">Designation</th>
                    <th scope="col">Email</th>
                    <th scope="col">Reporting To</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody >7tyugh
                <tr *ngFor="let data of employeeData" >
                    <th scope="row">{{data.id}}</th>
                    <td>{{data.empcode}}</td>
                    <td>{{data.employeename}}</td>
                    <td>{{data.mobileno}}</td>
                    <td>{{data.designation}}</td>
                    <td>{{data.email}}</td>
                    <td>{{data.reportinto}}</td>
                    <td>{{data.status}}</td>
                    <td><i (click)="deleteData(data.id)" class="fs-4 bi bi-trash3 text-danger"></i></td>
                    <td><i class=" fs-4 bi bi-pencil-square text-primary"></i></td>
                </tr>
            </tbody>
        </table>
          
        </div>
        <div class="col-md-2 kk">
  <app-sidenav></app-sidenav>

        </div>
      </div>
    </div>
  </div> -->
      <div class=" ">
    <div class="">
      <div class="row">
        <div class="col-sm-2">
            <ng-scrollbar  class="bg-secondary text-white" style="height:700px;" class="kk  shadow p-3 mb-5 bg-body rounded  ms-3 text-center text-white ">
                <div  class=" marigin fw-bolder text-center  mt-4" >
                  <button class="btn btn-outline-secondary ps-4 mb-2" (click)="navigate('People')">User</button> <br>
                  <button class=" btn btn-outline-secondary" (click)="navigate('People')">Report</button>
                 <!-- <button class="btn btn-outline-secondary  ps-5 mb-2" (click)="navigate('failover')" >Failover</button>
                 <br/>
                  <button class=" btn btn-outline-secondary ps-4 mb-2"(click)="navigate('monitorimfra')"  >Monitor DC</button>
                  <br/>
                  <button class="btn btn-outline-secondary ps-4 mb-2 " (click)="navigate('failureinfra')" >Failover DC</button> -->
                    </div>
                    
                  </ng-scrollbar>
             <!-- <app-sidenav> </app-sidenav> -->
        </div>
        <div class="col-sm-9 mt-5 shadow-sm p-3 mb-5 bg-body rounded" >
                    <form class="row g-3  " [formGroup]="empGroup" (ngSubmit)="onSubmit(empGroup)">
                <div class="col-md-6">
                    <label for="empcode" class="form-label">Emp Code</label>
                    <input type="email" class="form-control" formControlName="empcode">
                </div>
                <div class="col-md-6">
                    <label class="form-label">Employee Name</label>
                    <input type="text" class="form-control" formControlName="employeename">
                </div>
                <div class="col-md-6 ">
                    <label class="form-label">Mobile Number</label>
                    <input type="number" class="form-control" formControlName="mobileno">
                </div>
                <div class="col-md-6">
                    <label for="inputState" class="form-label">Designation</label>
                    <select id="inputState"  formControlName="designation" class="form-select">
                        <option  value="null" selected>Choose...</option>
                        <option value="TeamManager">TeamManager</option>
                        <option value="Project Manager">Project Manager</option>
                    </select>
                </div>
                <div class="col-md-6 ">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control" formControlName="email">
                </div>
                <div class="col-md-6">
                    <label for="inputState" class="form-label">Reporting To</label>
                    <select formControlName="reportinto" class="form-select">
                        <option value="null" selected>Choose...</option>
                        <option value="Teamleader"> Teamleader</option>
                        <option value="Project Manager">Project Manager</option>
                    </select>
                    
                </div>
                
                <fieldset>
                    <legend class="col-form-label ">Status</legend>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="True" 
                        formControlName="status">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Active
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="False" formControlName="status" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                            In Active
                        </label>
                    </div>
                </fieldset>
                <div class="col-12">
                    <label for="inputAddress2" class="form-label">Reason</label>
                    <input type="text" class="form-control" formControlName="reason">
                </div>
    
                <div class="col-1">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
                <div class="col-1">
                    <button type="submit" class="btn btn-primary">Clear</button>
                </div>
                
            </form>
             <div class="container-fluid mt-4">
            <form class="d-flex">
                <div class="col-md-4 ">
                    <input class="form-control" type="search" placeholder="Emp Code">
                </div>
                <div class="col-md-4 d-flex ">
                    <input class="form-control col-md-6 me-2" type="search" placeholder="Employee Name">
                    <button class="btn btn-outline-success" type="submit">Search</button>

                </div>
            </form>
            
        </div>
        
        <table class="table  table-hover table-striped">
            <thead>
                <tr>
                    <th scope="col">Sr No.</th>
                    <th scope="col">Emp Code</th>
                    <th scope="col">Employee Name</th>
                    <th scope="col">Mobile No.</th>
                    <th scope="col">Designation</th>
                    <th scope="col">Email</th>
                    <th scope="col">Reporting To</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let data of employeeData" >
                    <th scope="row">{{data.id}}</th>
                    <td>{{data.empcode}}</td>
                    <td>{{data.employeename}}</td>
                    <td>{{data.mobileno}}</td>
                    <td>{{data.designation}}</td>
                    <td>{{data.email}}</td>
                    <td>{{data.reportinto}}</td>
                    <td>{{data.status}}</td>
                    <td><i (click)="deleteData(data.id)" class="fs-4 bi bi-trash3 text-danger"></i></td>
                    <td><i class=" fs-4 bi bi-pencil-square text-primary"></i></td>
                </tr>
            </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
     