<!-- <h1>home is work </h1>
echo "# newproject" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/rcvarpit31/newproject.git
git push -u origin main -->
<div class="container mt-5">
    <form class="row">
        <div class="col-md-6">
            <label class="form-label">From Date</label>
            <input type="date" class="form-control" name="fromdate">
        </div>
        <div class="col-md-6">
            <label class="form-label">To Date</label>
            <input type="date" class="form-control" name="toDate">
        </div>

    </form>
</div>